/**
 *@name    CSS Document 
 *@author  OshynSong
 *@time	   2014-10
 */
@charset "utf-8";
body{
	font-size:14px;
	font-family:font-family :Georgia,"Lucida Grande", Verdana, Lucida,Arial, Helvetica, 宋体,sans-serif;
	cursor:default;
	color: #333333;
	width:100%;
	height:auto;
	z-index:-1000;
	padding-top:50px;
	background: #060910;/*#384665;*/
}
.navbar{
	background:linear-gradient(45deg, #080A17 0%,#982B0B 100%);
	border-bottom: 3px dashed #fff;
}
.navbar a{
	color:#fff;
}
.navbar-brand{
	font-size:26px;
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
#div-chart{
	width:auto;
    height:auto;
    border:1px solid rgb(213,213,213);
    position:relative;
}
.rectDiv{
	cursor:pointer;
	height:40px;
	line-height:30px;
	color:#fff;
	float: left;
	width: 120px;
}
.rect{
	display:inline-block;
	width:30px;
	height:30px;
	border: 1px solid #eee;
}
.rectDiv span{
	vertical-align:top;
}

.modalDiv{
	float:left;
	height:40px;
	margin:5px 10px;
	width:160px;
}

.Mage{stroke: #1f77b4;background:#1f77b4;}
.Marksman{stroke: #ff7f0e;background:#ff7f0e;}
.Assassin{stroke: #2ca02c;background:#2ca02c;}
.Support{stroke: #9467bd;background:#9467bd;}
.Tank{stroke: #8c564b;background:#8c564b;}
.Fighter{stroke: #e377c2;background:#e377c2;}
.foreground path {
	fill: none; 
	stroke-opacity: .5; 
	stroke-width: 2px;
}
.foreground path.fade {
	stroke: #ddd;
	stroke-opacity: .05;
}
.axis line, .axis path {
	fill: none;
	stroke: #666;
	stroke-width: 4px
	shape-rendering: crispEdges;
}
.axis text {
	font-size:16px;
	text-shadow: 1px 1px 0 #fff;
	cursor: move;
}
.brush .extent {
	fill-opacity: .3;
	stroke: #fff;
	shape-rendering: crispEdges;
}