.pumpkin {
fill: yellow;
stroke: orange;
stroke-width: 5;
}

div.bar {
display: inline-block;
width: 20px;
height: 75px; /* 后面会覆盖这个高度 */
background-color: teal;
margin-right: 2px;
}

g text:hover { opacity: .7 ;}


div#container{width:1490px}
div#header {background-color:#99bbbb;}
div#menu {background-color:#EfEffE; height:600px; width:400px; float:left;}
div#content {background-color:#EEEEEE; height:600px; width:1090px; float:left;}
div#footer {background-color:#99bbbb; clear:both; text-align:center;}
h1 {margin-bottom:0;}
h2 {margin-bottom:0; font-size:14px;}
ul {margin:0;}
li {list-style:none;}