body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 1300px;
  height: 700px;
  margin-top: 10px;
}
#skillmap .skills-wrapper {
  margin-top: 10px;
  overflow: auto;
}
#skillmap .skills-sunburst {
  float: left;
  width: 500px;
    margin: 80px 0px 0 0;
}
#skillmap .skills-sunburst svg {
  font: 11px 'Source Sans Pro', sans-serif;
  font-weight: 900;
  cursor: pointer;
}
#skillmap .skills-chart {
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  margin: 50px 20px 0 0;
    height:600px;
    width:750px;

}
#skillmap .skills-chart .breadcumb-text {
  font-size: 13px;
  font-weight: 700;
}
#skillmap .skills-chart #skills-chart-line {
  fill: none;
  stroke-width: 3.5px;
}
#skillmap .skills-chart .axis path,
#skillmap .skills-chart .axis line {
  fill: none;
}
#skillmap .skills-chart .x-axis path,
#skillmap .skills-chart .y-axis path {
  stroke: #444;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}


































svg {
  font-size: 14px;
}

.foreground path {
  fill: none;
  stroke-opacity: .5;
  stroke-width: 1.5px;
}

.foreground path.fade {
  stroke: #000;
  stroke-opacity: .05;
}
.foreground path.fadea {
  stroke: #000;
  stroke-opacity: .05;
}


.legend {
  font-size: 18px;
  font-style: oblique;
}

.legend line {
  stroke-width: 2px;
}

.sp {
  stroke: #800;
}

.cd {
  stroke: #080;
}

.djd {
  stroke: #008;
}

.zb {
  stroke: #600;
}

.nx {
  stroke: #060;
}

.nzx {
  stroke: #006;
}
.nz {
  stroke: #040;
}

.nzz {
  stroke: #004;
}
.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}
